:root {
  --primary-color: #007acc;
  --secondary-color: #00bfa6;
  --background: #f8f9fa;
  --text-color: #333;
  --border-radius: 0.5rem;
  --input-bg: #fff;
  --input-border: #ccc;
  --input-focus: #007acc;
  --tertiary-color: #3a3a3a;
  --tertiary-light-color: #636363;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

