@import "/src/styles/mixins.scss";

.charts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include breakpoint-max(sm){
      grid-template-columns: repeat(1, 1fr);
  }
}
